@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Gentium+Book+Plus&family=Inter:wght@900&family=Lobster&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./pictures/vertical-portrait-young-beautiful-girl-holding-her-guitar-looking-away-high-quality-photo_144627-74485.webp);
} */
/* body{
    background:  linear-gradient(90deg, #fe8f62 0, #ff8564 8.33%, #ff7967 16.67%, #ff6c6b 25%, #fd5e6e 33.33%, #f84e73 41.67%, #f23c78 50%, #ea287e 58.33%, #e10e86 66.67%, #d6008f 75%, #ca0098 83.33%, #bb00a3 91.67%, #aa00ae 100%);
} */
header{
    width: 100%;
    height: 100vh;
    /* background-image: url(./pictures/609eadc5e15ce6521ae0cc22_1_music_Top.jpg);
    background-size: cover;
    background-position: center; */
    /* filter: brightness(50%); */
    /* color: white; */
    background:  linear-gradient(90deg, #fe8f62 0, #ff8564 8.33%, #ff7967 16.67%, #ff6c6b 25%, #fd5e6e 33.33%, #f84e73 41.67%, #f23c78 50%, #ea287e 58.33%, #e10e86 66.67%, #d6008f 75%, #ca0098 83.33%, #bb00a3 91.67%, #aa00ae 100%);
}
body{
    background:  linear-gradient(90deg, #fe8f62 0, #ff8564 8.33%, #ff7967 16.67%, #ff6c6b 25%, #fd5e6e 33.33%, #f84e73 41.67%, #f23c78 50%, #ea287e 58.33%, #e10e86 66.67%, #d6008f 75%, #ca0098 83.33%, #bb00a3 91.67%, #aa00ae 100%);
}
nav{
    width: 100%;
    height: 8vh;
    /* border-bottom: 1px solid white; */
    position: relative;
    position: fixed;
    top: 0%;
    display: flex;
    z-index: 10000;
}
.site_logo{
    width: 5%;
    height: 100%;
    /* border-right: 1px solid white; */
}
.site_logo img{
    width: 70%;
    position: relative;
    left: 15%;
    top: 3%;
}
.menu_btn{
    width: 4%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: transparent;
    display: none;
}
.menu_btn button{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    font-size: 3.5vh;
    color: black;
    background-color: transparent;
}
.dropdown_menu{
    width: 9%;
    height: 32vh;;
    background-color: white;
    position: absolute;
    top: 8vh;
    left: 5%;
    display: block;
    z-index: 100000;
    display: none;
    border-radius: 5px;
}
.dropdown_menu a{
    width: 100%;
    height: 14.4%;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2vh;
    text-decoration: none;
}
.dropdown_menu a:hover{
    background-color: black;
    color: white;
}
.links_display{
    width: 55%;
    height: 100%;
    /* border-right: 1px solid white; */
    background-color: black;
    opacity: 0.8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.links_display ul{
    display: flex;
    position: relative;
    left: 2.5%;
    top: 10%;
    list-style: none;
}
.links_display ul li{
    color: white;
    padding: 15px;
}
.links_display ul li a{
    color: white;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    padding: 15px;
    font-size: 2.2vh;
    transition: 0.1s;
}
.links_display ul li a:hover{
    background-color: white;
    color: black;
}
.confirm_button{
    width: 40%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}
.confirm_btn{
    width: 36%;
    height: 64%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    position: relative;
    top: 18%;
    left: 62%;
    border-radius: 7px;
    font-size: 2vh;
    letter-spacing: 1px;
    font-weight: 600;
}
.confirm_btn:hover{
    box-shadow: 0px 0px 5px 0px white;
    text-shadow: 0px 0px 5px white;
}
.main_header{
    width: 100%;
    height: 92vh;
    display: flex;
}
.header_part_1{
    width: 50%;
    height: 100%;
    /* border: 1px solid white; */
}
.site_slider{
    width: 36%;
    height: 100%;
    /* border: 1px solid red; */
    position: relative;
    left: 4%;
    background-color: white;
}
.slide_img img{
    width: 100%;
}
.slider{
    width: 60%;
    height: 44%;
    border: 1px solid gray;
    position: relative;
    top: 32%;
    left: 20%;
}
.slider_pos{
    background-color: black;
    height: 100%;
    position: relative;
}
.header_part_2{
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
}
.header_panel{
    width: 90%;
    height: 100%;
    /* border: 1px solid black; */
    position: relative;
    left: 5%;
}
.header_name{
    width: 100%;
    height: 18%;
    /* border: 1px solid white; */
    opacity: 1;
    position: relative;
    top: 25%;
}
.header_name h1{
    color: white;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding-top: 3%;
    font-size: 9vh;
}
.header_text{
    width: 100%;
    height: 28%;
    /* border: 1px solid white; */
    position: relative;
    top: 25%;
}
.header_text p{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 5vh;
    text-align: center;
    padding: 0% 25%;
    line-height: 6vh;
}
.header_btns{
    width: 100%;
    height: 9%;
    /* border: 1px solid white; */
    position: relative;
    top: 25%;
}
.header_btns span{
    width: 55%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.first_btn{
    position: relative;
    left: 0%;
    top: 0%;
    background: linear-gradient(to  top left ,purple, blueviolet, blue);
    color: white;
    font-size: 2.9vh;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 60px;
    font-family: sans-serif;
    transition: 0.5s;
}
.first_btn:hover{
    background: black;
    color: white;
}
.second_btn{
    position: relative;
    top: 0%;
    font-size: 2.9vh;
    background: linear-gradient(to top left, aqua, lightblue, blue);
    color: white;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 60px;
    font-family: sans-serif;
    transition: 0.5s;
}
.second_btn:hover{
    background: black;
    color: white;
}
main{
    /* width: 100%;
    height: 100%;
    border: 1px solid white;
    margin: auto;
    background:  linear-gradient(90deg, #fe8f62 0, #ff8564 8.33%, #ff7967 16.67%, #ff6c6b 25%, #fd5e6e 33.33%, #f84e73 41.67%, #f23c78 50%, #ea287e 58.33%, #e10e86 66.67%, #d6008f 75%, #ca0098 83.33%, #bb00a3 91.67%, #aa00ae 100%); */
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: block;
    background-color: white;
}
/* .main_content{
    width: 80%;
    height: auto;
    border: 1px solid black;
    margin: auto;
    background-color: white;
} */
.block_for_content_v1{
    width: 80%;
    height: 68vh;
    /* border: 1px solid red; */
    margin: auto;
}
.block_name{
    width: 100%;
    height: 13%;
    /* border-bottom: 1px solid gray; */
    position: relative;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_name h2{
    color: black;
    font-size: 4.5vh;
}
.block_main_content{
    width: 100%;
    height: 87%;
    /* border: 1px solid lightgray; */
    display: flex;
}
.block_picture{
    width: 34%;
    height: 100%;
    /* border: 1px solid blue; */
    position: relative;
    top: 0%;
}
.block_picture img{
    width: 100%;
    height: 100%;
}
.block_text_social{
    width: 66%;
    height: 100%;
    /* border: 1px solid green; */
    position: relative;
    top: 0%;
    display: flex;
}
.block_text{
    width: 90%;
    height: 100%;
    /* border: 1px solid blue; */
}
.block_text p{
    padding: 10% 4%;
    padding-right: 20%;
    font-size: 3vh;
}
.block_social{
    width: 10%;
    height: 100%;
    /* border: 1px solid red; */
}
.block_social span{
    margin-top: 16%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* border: 1px solid black; */
}
.block_social span a{
    color: black;
    font-size: 4vh;
    transition: 0.3s;
}
.block_social span a:hover{
    transform: scale(1.2);
}
.course_content{
    width: 80%;
    height: 77vh;
    /* border: 1px solid blue; */
    margin: auto;
}
.courses_name{
    width: 100%;
    height: 10%;
    /* border-bottom: 1px solid gray; */
    position: relative;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.courses_name h2{
    font-size: 4vh;
}
.courses_main{
    width: 100%;
    height: 85%;
    /* border: 1px solid green; */
    position: relative;
    top: 5%;
    display: flex;
}
.courses_img{
    width: 55%;
    height: 95%;
    /* border: 1px solid red; */
    position: relative;
    top: 2.5%;
}
.courses_img img{
    width: 100%;
    height: 100%;
}
.courses_promise_text{
    width: 45%;
    height: 95%;
    /* border: 1px solid blue; */
    position: relative;
    top: 5%;
}
.courses_promise_text p{
    font-size: 3vh;
    padding: 10% 10%;
}
.concert_events{
    width: 80%;
    height: 88vh;
    /* border: 1px solid blue; */
    margin: auto;
}
.concert_name{
    width: 100%;
    height: 10%;
    /* border-bottom: 1px solid gray; */
    position: relative;
    top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.concert_content{
    width: 100%;
    height: 83%;
    /* border: 1px solid red; */
    position: relative;
    top: 7%;
    display: flex;
}
.concert_text{
    width: 35%;
    height: 100%;
    /* border: 1px solid green; */
    padding: 5%;
}
.concert_text p{
    font-size: 2.8vh;
}
.concert_images{
    width: 65%;
    height: 100%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto;
    grid-column: auto;
}
.concert_image{
    border: 1px solid black;
    width: 100%;
    height: 100%;
}
.concert_image img{
    width: 100%;
    height: 100%;
}
footer{
    width: 100%;
    height: 60vh;
    background-color: black;
    position: relative;
    top: 5vh;
    left: 0%;
}
.footer_content{
    width: 80%;
    height: 100%;
    /* border: 1px solid white; */
    margin: auto;
    display: flex;
}
.footer_row{
    width: 25%;
    height: 100%;
    /* border: 1px solid red; */
}
.footer_row ul{
    list-style: none;
}
.footer_row ul li{
    padding-top: 4%;
}
.footer_row ul li a{
    text-decoration: none;
    color: white;
    font-size: 2vh;
}
.footer_row ul li a:hover{
    text-decoration: underline;
}
.footer_row ul li:first-child{
    font-size: 2.2vh;
    color: white;
    padding-top: 8%;
    padding-bottom: 2%;
}
.footer_row span p{
    color: white;
    padding-top: 8%;
    padding-bottom: 2%;
    font-size: 2vh;
    /* padding-left: 7%;
    padding-right: 7%; */
}
.social_icons{
    width: 100%;
    height: 8%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 10%;
}
.social_icons a{
    display: block;
    font-size: 4vh;
    color: white;
}